In [1]:
import pandas as pd
import os

In [2]:
# Define o caminho para a pasta de datasets
caminho_datasets = "datasets_classificados"
nome_arquivo = "dataset_classificado_6_ano.csv"

In [3]:
# Carrega o dataset para um DataFrame do Pandas
caminho_completo = os.path.join(caminho_datasets, nome_arquivo)
df = pd.read_csv(caminho_completo)

In [4]:
# Exibe as primeiras 5 linhas do DataFrame para inspeção
print("Primeiras 5 linhas do DataFrame:")
display(df.head())

Primeiras 5 linhas do DataFrame:

,aluno_id,nome_aluno,questao_id,resposta_aluno,classificacao
0,ALUNO_6_1,Estudante 1,Q1,Não respondeu.,Incorreto
1,ALUNO_6_1,Estudante 1,Q2,Não respondeu.,Incorreto
2,ALUNO_6_1,Estudante 1,Q3,"Para saber o total de pés de milho plantados, ...",Parcialmente Correto
3,ALUNO_6_1,Estudante 1,Q4,"Para calcular o total de filhotes nascidos, so...",Correto
4,ALUNO_6_1,Estudante 1,Q5,"Para obter o número total de ingressos, somei ...",Parcialmente Correto

In [5]:
df

,aluno_id,nome_aluno,questao_id,resposta_aluno,classificacao
0,ALUNO_6_1,Estudante 1,Q1,Não respondeu.,Incorreto
1,ALUNO_6_1,Estudante 1,Q2,Não respondeu.,Incorreto
2,ALUNO_6_1,Estudante 1,Q3,"Para saber o total de pés de milho plantados, ...",Parcialmente Correto
3,ALUNO_6_1,Estudante 1,Q4,"Para calcular o total de filhotes nascidos, so...",Correto
4,ALUNO_6_1,Estudante 1,Q5,"Para obter o número total de ingressos, somei ...",Parcialmente Correto
...,...,...,...,...,...
995,ALUNO_6_50,Estudante 50,Q16,Achei que era um problema de divisão.,Incorreto
996,ALUNO_6_50,Estudante 50,Q17,"Para saber o total de livros infantis, somei o...",Correto
997,ALUNO_6_50,Estudante 50,Q18,"Em um estacionamento, há 15 carros brancos, 10...",Incorreto
998,ALUNO_6_50,Estudante 50,Q19,Achei que era um problema de divisão.,Incorreto
999,ALUNO_6_50,Estudante 50,Q20,"Em uma fazenda, há 120 galinhas e 85 patos. Qu...",Incorreto